@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri.eot") format("embedded-opentype"),
       url("fonts/Calibri.ttf") format("truetype"),
       url("fonts/Calibri.woff") format("woff"),
       url("fonts/Calibri.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri-Bold.eot") format("embedded-opentype"),
       url("fonts/Calibri-Bold.ttf") format("truetype"),
       url("fonts/Calibri-Bold.woff") format("woff"),
       url("fonts/Calibri-Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri-Bold-Italic.eot") format("embedded-opentype"),
       url("fonts/Calibri-Bold-Italic.ttf") format("truetype"),
       url("fonts/Calibri-Bold-Italic.woff") format("woff"),
       url("fonts/Calibri-Bold-Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri-Italic.eot") format("embedded-opentype"),
       url("fonts/Calibri-Italic.ttf") format("truetype"),
       url("fonts/Calibri-Italic.woff") format("woff"),
       url("fonts/Calibri-Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri-Light.eot") format("embedded-opentype"),
       url("fonts/Calibri-Light.ttf") format("truetype"),
       url("fonts/Calibri-Light.woff") format("woff"),
       url("fonts/Calibri-Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri-Light-Italic.eot") format("embedded-opentype"),
       url("fonts/Calibri-Light-Italic.ttf") format("truetype"),
       url("fonts/Calibri-Light-Italic.woff") format("woff"),
       url("fonts/Calibri-Light-Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Alef";
   src: url("fonts/Alef-Bold.eot") format("embedded-opentype"),
       url("fonts/Alef-Bold.ttf") format("truetype"),
       url("fonts/Alef-Bold.woff") format("woff"),
       url("fonts/Alef-Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Alef";
   src: url("fonts/Alef-Regular.eot") format("embedded-opentype"),
       url("fonts/Alef-Regular.ttf") format("truetype"),
       url("fonts/Alef-Regular.woff") format("woff"),
       url("fonts/Alef-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}